<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
              <a class="navbar-brand" href="/"  style="font-family: 'stylish', sans-serif; font-size:50px">EVERYWHERE,EVERYTIME NEWS</a>
  
      </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
       <li><a href="/">HOME</a></li>
       <li><a href="/">BUSINESS INSIDER</a></li>
       <li><a href="/">TECHNOLOGICAL NEWS</a></li>
       <li><a href="/">POLITICAL ARENA</a></li>
       <li><a href="/">SPORTS NEWS</a></li>       
       <li><a href="/">MUSIC</a></li>
       <li><a href="/">ENTERTAINMENT</a></li>       
       <li><a href="/">HISTORY AND CULTURE</a></li>
    </ul>
  </div>
    </div>
  
  </div>
  <style>
  @import url('https://fonts.googleapis.com/css?family=Cinzel|Pacifico|Stylish&display=swap');
  </style>
  